<div style="text-align:center">  
    <h2>  
      Angular 16 App with Azure Function and Cosmos DB  
    </h2>  
    <p>  
      Welcome to our new single-page application build with Angular.  
    </p>  
    <img width="700" alt="Angular Logo"  
      src="https://bpprodstorage.blob.core.windows.net/bpblobcontainer/4524430/images/faa78d36-afa8-47b1-9676-2762cc9bebd8VI1tGbAyYcDie6xbYHqSqNZ4CExjzZTD9qDuhOBS90TgLGd6tybbSAsA8VA0qkHwN01h82vQpLc0U5zU=s0.Jpeg" title="Solvencia Technologies">  
  </div>  